<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- je charge le fichier application.properties en vue d'utiliser le chemin du log défini dans ledit fichier -->
	<property resource="application.properties" />
	
	<!-- permet de définir l'emplacement du fichier -->	
	<!-- property name="logging.path" value="C:/logs/"-->
	   <property name="logging.path" value="C:/logs/"/>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging.path}/hyperPasserelleReader.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logging.path}/hyperPasserelleReader.%d{dd-MM-yyyy}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${logging.path}.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
		
	</appender>

	<!-- project default level -->
	<logger name="com.hyperaccesss" level="DEBUG" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>

	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>